<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videolibrary">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.TCVideoEditerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.TCVideoNoEditerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".activity.TCVideoPreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TCVideoRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videochat.ui.HnOnlineVideoChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HnChooseVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HnChooseVideoEditerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".videochat.ui.HnOverChatVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>
